# Each line is a file pattern followed by one or more owners.
# last matching pattern takes the most precedence.

*       @intel-innersource/onevpl-maintainer

# Specification
/api/vpl/                          @varistar @jonrecker @mgonchar @tletnes @intel-innersource/onevpl-maintainer
/api/tests/                        @varistar @jonrecker @mgonchar @tletnes @intel-innersource/onevpl-maintainer
/doc/spec/                         @varistar @jonrecker @mgonchar @tletnes @intel-innersource/onevpl-maintainer

# Third party programs
/third-party-programs.txt          @akwrobel @tletnes