# use custom configuration for code snippets in docs

# filters to enable
filter=+whitespace/tab
filter=+whitespace/end_of_line

# filters to disable
filter=-build/include
filter=-build/include_subdir
filter=-readability/casting
filter=-runtime/arrays
