# use custom configuration for API header files

# filters to enable
filter=+whitespace/tab
filter=+whitespace/end_of_line

# filters to disable
filter=-build/header_guard
filter=-build/include_subdir
filter=-build/include_what_you_use
filter=-readability/alt_tokens
filter=-readability/casting
filter=-readability/inheritance
filter=-readability/multiline_comment
filter=-runtime/int
